@import url('https://fonts.googleapis.com/css2?family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family:"Sour Gummy", sans-serif;
    background: #ffffff;
    padding: 20px;
}

h1{
    color: #ffd500;
    text-shadow: 2px 2px 1px #ff7300;
}

h2{
    color: #000000;
}

form {

}

input {
    padding: 5px;
    margin: 5px;
    border-radius: 4px;
    box-shadow: 5px 3px 0px rgb(167, 75, 0);
    border: solid gray 1px;


}

.btn-excluir{
    padding: 5px 10px;
    background: rgb(128, 0, 0);
    color: white;
    border-radius: 5px;
}

.btn-editar{
    padding: 5px 10px;
    background: rgb(255, 252, 50);
    color: white;
    border-radius: 5px;

}

.btn-adicionar{
    padding: 5px 10px;
    background: green;
    color: white;
    border-radius: 5px;
}

table {
    width: 100%;
    background: white;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    border: 1px solid #000000;
    padding: 8px;
    text-align: center;
}

th{
    background: #ff7f16;
    color: white;
}